@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/CormorantInfant-Bold.woff2') format('woff2'), url('../fonts/CormorantInfant-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/CormorantInfant-Regular.woff2') format('woff2'), url('../fonts/CormorantInfant-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/Raleway-Medium.woff2') format('woff2'), url('../fonts/Raleway-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

:root {
  --burger-width: 36px;
  --burger-height: 31px;
  --burger-line-height: 2px;
  --color-white: #fff;
  --color-black-0: #000;
  --color-greenPea: #195557;
  --color-juniper: #70908b;  
  --color-porcelain: #eaeeef;
  --color-zanah: #e2f0df;
  --color-silver: #c4c4c4;
  --color-sandyBeach: #ffedcd;
  --color-tiara: #c2ccca;
  --color-alabaster: #f8f8f8;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Cormorant', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-greenPea);
}

img {
  max-width: 100%;
}

/*Для скачущих шрифтов, в пример здесь скачет шрифт Raleway  .class, #id, tag, *, */ 
 .raleway-fixed {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings:"lnum" 1;
  -moz-font-feature-settings:"lnum=1";
  -ms-font-feature-settings:"lnum" 1;
  -o-font-feature-settings:"lnum" 1;
  -webkit-font-feature-settings:"lnum" 1;
  font-feature-settings:"lnum" 1;
  }

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  /*перенос слов*/
  word-wrap: break-word;
}

.h2 {
  font-size: 72px;
  line-height: 1;
}

ul {
  padding: 0;
  list-style: none;
}

.btn {
  padding: 26px 117px;
  border-radius: 40px;
  box-shadow: -8px -8px 20px 0 var(--color-white), 4px 4px 20px 0 var(--color-tiara);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  background-color: var(--color-juniper);
  -webkit-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -o-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
}

.btn:focus {
  outline: none;
  opacity: .8;
}

.btn:hover {
  color: var(--color-greenPea);
  background: linear-gradient(45deg, #b0d3ce, #ffedce);
}

.btn:active {
  opacity: .6;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  /*Для компа*/
  background-image: url("../img/hedgehog_fon.png");
  /*Для кодепена
  background-image: url("https://raw.githubusercontent.com/leska-ver/hedgehog/main/img/hedgehog_fon.png");*/
  /*Если не одна не обнаружена браузером*/
  background-color: var(--color-juniper);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Для семантики если нет заголовка h1 в вёрстке. Ставим скрытый заголовок. */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  /*1400px = 1300px + 50px + 50px не менять*/
  max-width: 1400px;  
}


/***Шапка***/
.header {
  position: relative;
  padding: 35px 0 20px;
}

.header__container {
  display: flex;
  padding: 0 60px;
}

.header__logo {
  margin-right: auto;
  height: max-content;
  -webkit-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.header__logo:focus {
  outline: 2px solid var(--color-juniper);
  outline-offset: 8px;
}

.header__logo:hover {
  opacity: .8;
}

.header__logo:active {
  opacity: .6;
}

.burger {
  position: relative;
  display: none;
  padding-bottom: 17px;/*padding для outline-offset не удалять*/
  border: none;    
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}

/*список меню - data-simplebar*/
.header__nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: -14px;
  margin-right: 110px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.header__list .simplebar-track {
  top: 42px;
  right: 20px;
  margin-bottom: 58px;
  width: 2px;
  background-color: var(--color-black-0);  
}

.header__list .simplebar-scrollbar {
  width: 2px;
  height: 28px !important;
  background-color: var(--color-white);
}

.header__list-item {
  position: relative;
  display: flex;
  align-items: center;  
  padding: 0;
  outline: none;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.header__list-item:not(:last-child) {
  margin-right: 85px;
}

.header__list-btn {
  padding-left: 22px;
  border: 1px solid transparent;
  font-weight: 710;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: border-bottom .4s ease-in-out;
  -ms-transition: border-botom .4s ease-in-out;
  -moz-transition: border-bottom .4s ease-in-out;
  -o-transition: border-bottom .4s ease-in-out;
  transition: border-bottom .4s ease-in-out;
}

.header__list-btn::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--color-greenPea);  
  transform: rotate(0deg);
  transform-origin: center;
  -webkit-transition: transform .4s ease;
  -ms-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;  
}

.header__list-btn:focus::after {
  transform: rotate(90deg);  
}

.header__list-btn:focus, .header__list-link:focus {
  color: var(--color-white);
  background-color: var(--color-juniper);
  outline: 8px solid var(--color-juniper);
  outline-offset: -1px;
}

.header__list-btn:hover, .header__list-link:hover {
  border-bottom: 1px solid var(--color-greenPea);
  color: var(--color-greenPea);
  background-color: inherit;
  outline: none;  
}

.header__list-btn:active, .header__list-link:active {
  color: var(--color-juniper);
  opacity: .8;  
}

.header__list-link {
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;  
  cursor: pointer;
  -webkit-transition: border-bottom .4s ease-in-out;
  -ms-transition: border-bottom .4s ease-in-out;
  -moz-transition: border-bottom .4s ease-in-out;
  -o-transition: border-bottom .4s ease-in-out;
  transition: border-bottom .4s ease-in-out;
}

.header__list-lin {
  border-bottom: 1px solid transparent;
}

.header__dropdown {
  position: absolute;
  top: 30px;
  display: none;  
  margin-left: -7px;
  padding: 20px 24px 21px;
  min-width: 160px;
  box-shadow: 4px 4px 20px 0 var(--color-tiara);
  background-color: var(--color-white);
  z-index: 2;
}

.header__dropdown.is-active {
  position: absolute;
  display: block;
  animation-name: dropdownOpen;
  animation-duration: .4s;  
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: .4s;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.simplebar-content-wrapper {
  outline: none;
}
/*список меню - data-simplebar*/

.header__sublist-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__sublist-link {
  outline: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: border-bottom .4s ease-in-out;
  -ms-transition: border-bottom .4s ease-in-out;
  -moz-transition: border-bottom .4s ease-in-out;
  -o-transition: border-bottom .4s ease-in-out;
  transition: border-bottom .4s ease-in-out;
}

.header__sublist-link:focus, .header__sublist-link:hover {
  border-bottom: 1px solid var(--color-greenPea);
}

.header__block {
  position: relative;
  width: 70px;
  height: 60px;
}

.header__linkPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -11px;
  margin-right: 31px;
  /*Для focusa*/
  padding-right: 20px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 25px;
  -webkit-transition: border-bottom .4s ease-in-out;
  -ms-transition: border-bottom .4s ease-in-out;
  -moz-transition: border-bottom .4s ease-in-out;
  -o-transition: border-bottom .4s ease-in-out;
  transition: border-bottom .4s ease-in-out;
}

.header__linkPhone:focus {
  outline: 2px solid var(--color-juniper);
}

.header__linkPhone:hover {
  outline: none;
  opacity: .7;
}

.header__linkPhone:active {
  border-bottom: 2px solid var(--color-juniper);
  color: var(--color-juniper);
  opacity: .8;
}  

.header__linkPhone_none1920 {
  display: none;
}

.header__svg320 {
  position: absolute;
  opacity: 0;
}

.header__span-basket {
  position: absolute;
  bottom: -7px;
  right: 8px;
}

.header__span-block-numper {
  position: absolute;
  right: 0;
}

.header__span-numper {
  position: absolute;
  top: 29px;
  right: 7px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  line-height: 11px;
  color: #000;
  z-index: 1;
}

.header__span-circle svg {
  position: absolute;
  top: 25px;
  right: 0;
}


/*hero - 1920*/
.hero {
  padding: 20px 0 47px;
}

.hero__container {
  text-align: center;
}

.hero__h2 {
  margin-bottom: 0;
  font-size: 122px;  
}

.hero__h3 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 50px;
  line-height: 60px;
  color: var(--color-juniper);
  text-transform: uppercase;
}

.hero__desc {
  margin-bottom: 60px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-juniper);
}


/*Услуги services -1920*/
.services {
  padding: 48px 0 23px;
}

.services__container {
  display: flex;
  justify-content: space-around;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 152px);
  gap: 190px;
}

.services__item:nth-child(odd) {
  margin-top: 28px;
}

.services__icon {
  margin-bottom: 37px;
  background-color: var(--color-zanah);
  padding: 57px 42px;  
  border-radius: 50%;
  border: 1px solid var(--color-sandyBeach);
  box-shadow: -8px -8px 20px 0 var(--color-white), 4px 4px 20px 0 var(--color-tiara);
  width: max-content;
}

.services__icon_syringe {
  padding: 58px;
}

.services__icon_love svg {
  stroke: var(--color-greenPea);
}

.services__icon_love {
  padding: 65px 59px;
}

.services__title {
  margin-left: -29px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
}

.services__desc {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 22px;
  text-align: center;
}


/*Слайдер price - 1920px*/
.price {
  padding: 22px 0 39px;
}

.price__container {
  position: relative;
  /*Для стрелки*/
  display: flex;
  align-items: center;
  padding: 0 37px
}

.price__btn {
  position: relative;
  flex-shrink: 0;
  padding: 0;  
  border: none;
  width: 42px;
  height: 46px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color .4s ease-in-out;
  -ms-transition: background-color .4s ease-in-out;
  -moz-transition: background-color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
  z-index: 2;/*Для нажатия*/  
}

.price__btn:disabled.price__btn::before,
.price__btn:disabled.price__btn::after {
  border-top: 4px solid #aabdba;
  border-right: 4px solid #aabdba;
}

.price__btn::before {
  content: "";
  position: absolute;
  border-top: 4px solid var(--color-juniper);
  border-right: 4px solid var(--color-juniper);
  width: 19px;
  height: 19px;  
  transform: translate(-48%, -43%) rotate(45deg);
  transform-origin: center;
}

.price__btn::after {
  content: "";
  position: absolute;
  right: 9px;
  border-top: 4px solid var(--color-juniper);
  width: 24px;
  height: 1px;  
}

.price__btn:focus {
  outline: none;
  border: 1px solid var(--color-black-0);
}

.price__btn:hover {
  background-color: var(--color-sandyBeach)
}

.price__btn_prev {
  transform: rotate(180deg);
}

/*price картин*/
.price__swiper {
  width: calc(1424 / 1600 * 100%);
}

.price__wrapper.swiper-wrapper {
  /*Чтобы слайдер не резало*/
  box-sizing: border-box;
}

.price__slide {
  position: relative;
  padding: 22px 60px 105px;
  border-radius: 20px;
  /*auto для резины карточек*/
  height: auto;
  font-size: 18px;  
  color: var(--color-black-0);
}

.price__slide:nth-child(odd) {
  background-color: var(--color-sandyBeach);     
}

.price__slide:nth-child(even) { 
  background-color: var(--color-zanah);
}

.price__slide_Zindex1 {
  z-index: -74;
}

.price__slide_Zindex2 {
  z-index: -75;
}

.price__slide_Zindex3 {
  z-index: -76;
}

.price__slide_Zindex4 {
  z-index: -77;
} 

.price__article {
  display: flex;
}

.price__left { 
  /*Отключиле реакцию на слайдер, у кнопки pointer-events: all;*/
  pointer-events: none;    
  width: 185px;
}

.price__span-percent {
  position: absolute;
  top: -6px;
  left: 63px;
  padding: 2px 10px;
  border: 1px solid var(--color-greenPea);
  font-size: 25px;  
  color: var(--color-white);
  background-color: var(--color-greenPea);
}

.price__span-i {
  position: absolute;
  top: 21px;
  right: 28px;
  padding: 3px 11px;
  border-radius: 50px;
  border: 2.5px solid #195557;  
}

.price__like320 {
  position: absolute;
  top: 12px;
  right: 22px;
  display: none;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  line-height: 15px;
  width: 103px;
}

.price__vaccinated {
  margin-right: 28px
}

/***тультип***/
.price__span-absolute {
  /*Чтобы тультип работал в ховере. НЕ УДАЛЯТЬ!*/
  pointer-events: auto;
  position: absolute;
  right: 34px;
}

.price__tooltip {
  position: relative;   
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.price__tooltip-marker {
  padding: 3px 11px;
  border-radius: 50%;
  border: 2.5px solid var(--color-greenPea);
  width: 30px;
  height: 30px;  
  cursor: pointer;
}

.price__tooltip-marker:hover .price__tooltip-content, .price__tooltip-marker:focus .price__tooltip-content {
  background: #cbb468;
  outline: none;
}

.price__tooltip-content {
  position: absolute;
  top: 51px;
  left: -95px;
  padding: 23px 15px 28px 29px;
  width: 219px;
  color: white;  
  background-color: var(--color-greenPea);  
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  z-index: 11;
}

.price__tooltip-content::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 49%;
  
  display: inline-block;
  /* margin-left: 2px; */
  border-top: 11px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 9px solid var(--color-greenPea);
  transform: rotate(270deg);
  transform-origin: center;
  -webkit-transition: transform .4s ease;
  -ms-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;  
} 

.price__tooltip-marker:focus + .price__tooltip-content, 
.price__tooltip-marker:hover + .price__tooltip-content {
  opacity: 1;
}

 .price__vaccinated svg {
  margin-top: -1px;
  width: 26px;
  height: 22px;
  stroke: var(--color-white);
}

.price__like svg {  
  margin-top: 6px;
  width: 20px;
  height: max-content;
  stroke: var(--color-white);
}
/*** // тультип***/

.price__title {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 48px;
}

.price__desc {
  margin-top: 11px;
  /*Для резины блока -price__rezine*/
  padding-bottom: 5px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-black-0);
}

.price__rezine {
  position: absolute;
  bottom: 45px;
}

.price__span-old {
  display: block;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-tiara);
}

.price__span-strong {
  font-size: 40px;
  line-height: 48px;
} 

.price__plus {
  position: absolute;
  right: 4px;
  bottom: -23px;
}

.price__span-plus {
  position: relative;
  width: max-content;
  height: max-content;
  font-size: 77.6px;
}

.price__span-plus::before {
  content: '';
  position: absolute;
  top: -78px;
  left: -10px;
  border: 73px solid transparent;
  border-left: 73px solid var(--color-white);/* Добавляем треугольник */
  transform: rotate(45deg);
  z-index: -1;
}

.price__foto {
  position: absolute;
  bottom: 32px;
  right: 0;
  width: 65%;
  height: 67%;  
}

.price__foto_two, .price__foto_four {
  bottom: -7px;
  width: 68%;
  height: 75%;  
}
/*** // price-1920px***/


/***Регистрация(recording) - 1920px***/
.recording {
  padding: 39px 0 56px;
}

.recording__fon {
  position: relative;
  margin: 0 auto;
  margin-bottom: 78px;
  padding: 38px 52px 79px;
  border-radius: 30px;
  width: max-content;
  background-color: var(--color-porcelain);
}

.recording__title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 45px;
  line-height: 54px;
}

/*---Телефон валидация и маска---*/
/***Радио - recording__left-radio***/
.recording__block-radio {
  display: grid;  
  grid-template-columns: 51% 1fr;
  gap: 84px;
  margin-bottom: 43px;
}

.recording__left-radio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.recording__left-radio input[type=radio] {
	display: none;
}

.recording__left-radio input[type=radio]:checked + .recording__label-radioFor::before {
  color: var(--color-white);
	background-color: var(--color-juniper);
}

.recording__left-radio input[type=radio]:checked + .recording__label-radioFor::after {
  opacity: 1;
}

.recording__label-radioFor {
  position: relative;
  width: max-content;
}

.recording__label-radioFor_1::before, .recording__label-radioFor_2::before, .recording__label-radioFor_3::before {  
  position: absolute;  
  border-radius: 25px;
  border: 2px solid var(--color-juniper);
  width: max-content;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-juniper);
  background-color: var(--color-white);
}

.recording__label-radioFor_1::before {  
  content: "хочу ёжика для себя";  
  padding: 13px 25px;
}  

.recording__label-radioFor_2::before {  
  content: "хочу ёжика для детей";  
  padding: 13px 17px;
}

.recording__label-radioFor_3::before {  
  content: "хочу ёжика для разведения";  
  padding: 13px 15px;
}
/*** // Радио - recording__left-radio***/

/***  Радио - recording__right-radio***/
.recording__right-radio {
  display: grid;
  grid-template-columns: 36% 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 17px 38px;
}

.recording__right-radio input[type=radio] {
	display: none;
}

.recording__right-radio input[type=radio]:checked + .recording__label-ratioVolume::after {
  background-color: var(--color-juniper);
  opacity: 1;
}

.recording__label-ratioVolume {
  position: relative;
  padding-left: 24px;
  color: var(--color-juniper);
}

.recording__label-ratioVolume_1::before, .recording__label-ratioVolume_2::before, .recording__label-ratioVolume_3::before, .recording__label-ratioVolume_4::before {  
  content: "";  
  position: absolute;
  margin-left: -24px;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid var(--color-juniper);
  width: max-content;
  background-color: var(--color-white);
}

.recording__label-ratioVolume_1::after, .recording__label-ratioVolume_2::after, .recording__label-ratioVolume_3::after, .recording__label-ratioVolume_4::after {  
  content: "";  
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 1px;
  border-radius: 50px;
  border: 2px solid var(--color-juniper);
  width: max-content;
  background-color: var(--color-juniper);
  opacity: 0;
}
/*** // Радио - recording__right-radio***/

/*Для формы отправки*/
.form__label {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.js-validate-error-label {
  position: absolute;
  right: 5px;
  top: 100%;
}
/* // Для формы отправки*/

.recording__block-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

/***Стилазация фразы ошибки***/
.recording__label-registration {
  position: relative;
  height: max-content;
}

.js-validate-error-label {
  position: absolute;
  top: -20px;
  left: 3px;
}
/*** // Стилазация фразы ошибки***/

.recording__label-registration_big {
  grid-column: span 3;
}

.recording__label-registration_big .recording__input-registration {
  padding-bottom: 68px;
}

.recording__input-registration {
  padding: 21px 25px;
  border-radius: 8px;
  border: 1px solid var(--color-alabaster);
  width: 100%;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-greenPea);
  background-color: var(--color-alabaster);
}

.recording__input-registration:focus {
  outline: none;
}

.recording__button {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: transparent;  
}

.recording__owner {
  display: inline-flex;  
  align-items: center;  
  justify-content: center;
  margin-bottom: 7px;
  width: 100%;
}

.recording__owner-avatar {
  margin-left: -14px;
}

.recording__owner-h3 {
  padding-left: 10px;
  font-size: 24px;
  line-height: 29px;
}

.recording__desc {
  margin: 0 auto;
  width: 184px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
/*** // Регистрация(recording) - 1920px***/


/***Подвал(footer) - 1920px***/
.footer {
  margin-top: 6px;
  padding: 50px 53px 31px 60px;
  background-color: var(--color-juniper);
}

.footer__top {
  display: flex;
  margin-bottom: 20px;
}

.footer__logo {
  margin-right: auto;
  height: max-content;
  -webkit-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.footer__logo:focus {
  outline: 2px solid var(--color-white);
  outline-offset: 8px;
}

.footer__logo:hover {
  opacity: .8;
}

.footer__logo:active {
  opacity: .6;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-right: 112px;
}

.footer__item {
  padding: 0;  
}

.footer__item:not(:last-child) {
  margin-right: 85px;
}

.footer__link {
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;  
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  -webkit-transition: border-bottom .4s ease-in-out, color .4s ease-in-out;
  -ms-transition: border-bottom .4s ease-in-out, color .4s ease-in-out;
  -moz-transition: border-bottom .4s ease-in-out, color .4s ease-in-out;
  -o-transition: border-bottom .4s ease-in-out, color .4s ease-in-out;
  transition: border-bottom .4s ease-in-out, color .4s ease-in-out;
}

.footer__link:focus {
  color: var(--color-white);
  background-color: var(--color-greenPea);
  outline: 8px solid var(--color-greenPea);
  outline-offset: -1px;
}

.footer__link:hover {
  border-bottom: 1px solid var(--color-greenPea);
  color: var(--color-greenPea);
  background-color: inherit;
  outline: none;
}

.footer__link:active {
  border-bottom: 1px solid var(--color-sandyBeach);
  color: var(--color-sandyBeach);
  opacity: .8;
}

.footer-nav {
  margin-top: 16px;
  margin-right: 66px;
  width: 144px;
}

.footer__list-icone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
}

.footer__item-icone:not(:last-child) {
  margin-right: 12px;  
}

.footer__link-icone {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__link-icone:focus-visible {
  outline: none;
}

.footer__link-icone path {
  transition: fill .4s ease-in-out;
}

.footer__link-icone:focus path,
.footer__link-icone:hover path {
  outline: none;
  fill: var(--color-greenPea);
}

.footer__link-icone:active path {
  fill: var(--color-sandyBeach);
}

.footer__link-icone svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__linkPhone {
  margin-top: 18px;
  padding: 7px;
  height: max-content;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: var(--color-white);
}

.footer__linkPhone:focus {
  outline: 2px solid var(--color-white);
}

.footer__linkPhone:hover {
  outline: none;
  opacity: .7;
}

.footer__linkPhone:active {
  border-bottom: 2px solid var(--color-sandyBeach);
  color: var(--color-sandyBeach);
  opacity: .8;
}

.footer__desc {
  margin: 0;
  font-size: 9.5px;
  line-height: 11px;
  color: var(--color-white);
}
/*** // Подвал(footer) - 1920px***/


@media (max-width: 1666px) {
  .hero__h2 {
    margin-top: 0;
    font-size: 105px;    
  }

  .hero__h3 {
    font-size: 45px;
  }
}


@media (max-width: 1385px) {
  .header__nav, .header__linkPhone {
    margin-right: auto;
  }

  .header__list-item:not(:last-child) {
    margin-right: 25px;
  }


  .hero__h2 {
    font-size: 88px;    
  }

  .hero__h3 {
    font-size: 37px;
  }

  .services__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }

  .services__icon {
    margin: 0 auto;
  }

  .price__left {
    width: 86%;
  }

  .price__title {
    font-size: 35px;
    line-height: 1;
  }

  .price__desc {
    width: 67%;
  }

  .price__foto {
    bottom: 47px;
    right: -10px;
    width: 263px;
    height: 165px;  
  }
  
  .price__foto_two, .price__foto_four {
    bottom: 44px;
    right: -18px;
    width: 263px;
    height: 165px;
  }


  /***Регистрация(recording) - 1385px***/
  .recording__fon {
    margin-bottom: 40px;
    width: 100%;
  }

  .recording__block-radio {    
    display: flex;
    flex-direction: column;
    gap: 79px;
  }

  .recording__right-radio {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  /*** // Регистрация(recording) - 1385px***/



  /***Подвал(footer) - 1385px***/
  .footer__list {
    margin-right: auto;
  }

  .footer__item:not(:last-child) {
    margin-right: 55px;
  }

  .footer-nav {
    margin-right: auto;
  }  
  /*** // Подвал(footer) - 1385px***/
}   


@media (max-width: 1077px) {
  /*Шапка header*/
  .header {
    padding-top: 14px;
  }

  .header__container {
    padding: 0 20px;
  }

  .header__logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 62px;  
    z-index: 3;  
  }

  .menu {
    -webkit-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    /*Скрывает меню*/
    transform: translateX(-333%);    
  }

  .menu.is-active {
    /*is-active js*/
    transform: none;
  }

  .burger {
    position: absolute;
    display: block;
    margin-top: 6px;
    width: 25px;
    height: 15px;
    order: -1;
    outline: 2px solid transparent;
    z-index: 11;
  }

  .burger:focus {
    outline: 2px solid var(--color-greenPea);
    outline-offset: 8px;
  }

  .burger span{
    position: absolute;
    left: 0;
    display: block;
    border-radius: 9px;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);    
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  /*Палочки*/
  .burger span {
    background-color: var(--color-greenPea);
    /*left: auto; Зеркалить поворот*/
    right: 0;
    -webkit-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
  }
  
  .burger span {
    left: 0; 
    height: 2px;    
   }

  .burger span:nth-child(1) {
    top: 0;
  }  
 
   .burger span:nth-child(2) {
     top: 8px;
   }
 
   .burger span:nth-child(3) {
     top: 16px;
   }

  .burger:focus span,
  .burger:focus span:nth-child(2),
  .burger:focus span:nth-child(3),
  .burger:hover span,
  .burger:hover span:nth-child(2),
  .burger:hover span:nth-child(3) {
    background-color: var(--color-greenPea);
  }

  .burger:active span,
  .burger:active span:nth-child(2),
  .burger:active span:nth-child(3) {
    background-color: red;
  }

  /*Крест*/
  .burger.open span:nth-child(1) {
    top: 8px;
    left: -2px;
    width: 26px;
    /*38px длина палочки*/
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);    
  }

  .burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .burger.open span:nth-child(3) {
    top: 8px;
    left: -2px;
    width: 26px;
    /*38px длина палочки*/
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);    
  }
  /* //Крест*/

  .header__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: -34px;
    margin-left: -62px;
    margin-right: 0;
    padding: 98px 40px 43px;
    border-radius: 0 10px 10px 0;
    width: 337px;
    background-color: #fff;     
    z-index: 2;  
  }

  .header__list {   
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 178px;
    padding-left: 34px;    
  }

  .header__list-btn {
    padding-left: 0;
    font-size: 18px;
    line-height: 21px;
  }  

  .header__list-btn::before {
    display: none;
  }

  .header__list-item {    
    margin-right: 0;
    font-size: 18px;
  }

  .header__list-item:not(:last-child) {    
    margin-bottom: 18px;
  }

  .header__list-link {
    font-size: 18px;
  }

  .header__linkPhone {
    margin-left: 26px;
    padding: 0 10px;
    width: max-content;
  }

  .header__linkPhone_none1920 {
    display: block;
  }

  .header__linkPhone_none320 {
    display: none;
  }

  .header__linkPhone svg {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .header__mobile:focus svg {
    stroke: var(--color-greenPea);
    outline: none;
  }

  .header__svg320 {
    top: 7px;
    right: 50px;
    width: 64px;
    height: 64px;
    transform: rotate(352deg);
    opacity: 1;
  }  

  .header__block {
    position: absolute;
    top: 26px;
    right: 17px;
    width: 30px;
    height: 30px;
  }

  .header__span-basket {
    bottom: 0;
    /* right: 24px; */
  }

  .header__span-basket svg {
    width: 27px;
    height: max-content;
  }

  .header__span-numper {
    top: 0;
  }  

  .header__span-circle svg {
    top: -2px;
    right: 2px;
    width: 15px;
    height: 15px;    
  }

  .services__list {
    gap: 30px;
  }

  .price__btn {
    display: none;
  }

  .price__swiper {
    overflow: unset;
  }

  .price__desc {
    width: 80%;
  }

  .price__foto {
    bottom: 40px;
    right: -3px;
    width: 186px;
    height: 164px;
  }

  .recording__title {
    font-size: 35px;
    line-height: 44px;
  }

  .footer__top {
    flex-wrap: wrap;
  }

  .footer__logo {
    margin-right: 50px;
  }  
}


@media (max-width: 768px) {
  .btn {
    padding: 26px 87px;
  }  


  .services__icon {
    padding: 42px 28px;
  }

  .services__icon_syringe {
    padding: 40px;
  }

  .services__icon_love {
    padding: 42px 44px;
  }


  .price__swiper {
    width: calc(1424 / 1600 * 100%);
  }


  .recording__left-radio {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-33%);
    
  }

  .recording__label-radioFor:not(:last-child) {
    margin-bottom: 63px;
  }




}


@media (max-width: 580px) {
  .wrapper {
    /*Для компа*/
    background-image: url("../img/hedgehog_fon320.png");
    /*Для кодепена
    background-image: url("https://raw.githubusercontent.com/leska-ver/hedgehog/main/img/hedgehog_fon.png");*/
  }

  .container {
    padding: 0 17px;
  }

  /*Шапка header - 580*/
  .header {
    padding: 24px 0 12px;
  }
  
  /*hero - 580*/
  .hero {
    padding: 11px 0 27px;
  }


  /*Услуги services -580*/
  .services {
    padding: 27px 0 6px;
  }

  .services__container {
    justify-content: start;
  }

  .services__list {
    grid-template-columns: repeat(2, 128px);
    gap: 20px;
  }

  .services__item:nth-child(odd) {
    margin-top: 0;
  }

  .services__item:nth-child(n+2) {
    margin: 0 auto;
  }

  .grid-two320 {
    grid-column-start: 1;
  }

  .services__icon {
    margin-left: 9px;
    margin-bottom: 13px;
    padding: 29px 25px;
  }

  .services__icon svg {
    margin-top: 4px;
    width: 40px;
    height: 27px;
  }

  .services__icon_syringe svg {
    height: 21px;
  }

  .services__icon_love {
    margin-top: -3px;
    margin-left: 7px;
    padding: 32px 30px;    
  }

  .services__icon_love svg {
    width: 30px;
    height: 21px;
  }

  .services__title {
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: start;
  }  

  .services__desc { 
    margin: 0 0 12px 8px;
    font-size: 10px;
    line-height: 15px;
    text-align: start;
  }

  .price {
    padding: 6px 0 20px;
  }

  .price__swiper {
    margin: 0 4px;
    width: calc(1380 / 1600 * 100%);    
  }

  .price__span-percent {
    top: -5px;
    left: 30px;
    padding: 1px 8.3px;
    font-size: 16px;
  }

  .price__slide {
    padding: 21px 28px 74px;
    font-size: 16px;
  }

  .price__left {
    width: 85%;
  }

  .price__span-i {
    display: none;
  }

  .price__title {
    font-size: 30px;
  }

  .price__desc {
    margin-top: 7px;
    padding-bottom: 8px;
    width: 72%;
    font-size: 11.4px;
    line-height: 16px;
  }

  .price__rezine {
    bottom: 18px;
  } 

  .price__plus {
    right: 1px;
    bottom: -20px;
  }

  .price__span-plus {
    font-size: 70px;
  }

  .price__span-plus::before {
    top: 14px;
    left: -30px;
    border: 73px solid transparent;
    border-left: 73px solid var(--color-white);
  }

  .price__foto {
    bottom: 24px;
    right: -47px;
  }

  .price__tooltip-marker, .price__tooltip-content::before {
    display: none;
  }

  .price__tooltip-content {
    position: relative;
    top: -13px;
    left: 11px;
    padding: 0;
    width: max-content;
    color: var(--color-greenPea);
    background-color: transparent;
    opacity: 1;    
  }

  .price__vaccinated {
    margin-right: 10px;
    font-size: 10px;
  }

  .price__vaccinated svg {
    margin-top: 0;
    width: 16px;
    height: 14px;
    stroke: var(--color-greenPea);
  }

  .price__like {
    font-size: 10px;
  }
  
  .price__like svg {
    margin-top: 6px;
    width: 13px;
    height: max-content;
    stroke: var(--color-white);
  }

  .recording {
    padding: 20px 0 46px;
  }

  .recording__container {
    padding: 0;
  }

  .recording__fon {
    margin-bottom: 49px;
    padding: 42px 20px 66px;
    border-radius: inherit;
  }

  .recording__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 29px;
  }

  .recording__block-radio {    
    margin-bottom: 27px;
  }

  .recording__left-radio {
    margin-left: 0;
    transform: inherit;
  }

  .recording__label-radioFor_2::before, .recording__label-radioFor_3::before {
    padding: 13px 20px;
  }

  .recording__right-radio {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .recording__block-flex {
    display: flex;
    grid-template-columns: inherit;
    gap: 10px;
    flex-direction: column;
  }

  .recording__input-registration {
    padding: 22px 20px;
  }  

  .recording__label-registration_big .recording__input-registration {
    padding-bottom: 22px;
  }

  .recording__button {
    position: relative;
    bottom: -25px;
    left: 0;
    transform: inherit;
    padding: 26px 92px;
  }

  .recording__owner {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 5px;
    margin-left: 36px;
    width: 100%;
    flex-direction: column;    
  }

  .recording__owner-h3 {
    margin-top: 0;
    margin-left: -15px;
    padding: 0;
    width: 62%;
  }

  .recording__desc {
    margin: 0 0 0 21px;
    text-align: start;
  }


  .footer {
    padding: 34px 20px 36px 19px;
  }

  .footer__top {
    position: relative;
    flex-direction: column;
    margin-bottom: 27px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 58px;
  }

  .footer__list {
    margin-top: 0;
    margin-right: 0;
    flex-wrap: inherit;
    align-items: start;    
    flex-direction: column;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer-nav {   
    position: absolute;
    right: 0;
    margin-top: 7px;
    margin-right: 0;
    width: 39px;
  }

  .footer__list-icone {
    align-items: inherit;
    flex-direction: column;
    margin-bottom: 0;
  }

  .footer__item-icone {
    width: 100%;
    height: 100%;
  }

  .footer__item-icone:not(:last-child) {
    margin-right: 0;
    margin-bottom: 7px;
  }

  .footer__linkPhone {
    margin-top: 32px;
    margin-left: -7px;
  }

  .footer__desc {
    font-size: 12px;
    line-height: 14px;
  }  

}


  @media (max-width: 420px) {
  .hero__h2 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 55px;
    text-align: start;
  }

  .hero__h3 {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 1;
    text-align: start;
  }    

  .hero__desc {
    margin-bottom: 45px;
    font-size: 12px;
    text-align: start;
  }

  .hero__link {
    padding: 22px 93px;
  }    

  
}


@media (max-width: 307px) {
  .header__svg320, .header__block {
    display: none;
  }
}